* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 280px 2fr 2fr;
    grid-template-rows: auto 4fr;
}

.container > * {
    border: 1px solid black;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: #18191b;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
}

header {
    grid-column: 1 / -1;
    padding-left: 280px;
    grid-row: 1;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 1.2em;
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #e2e8f0;
}

.first, .second, .dashboard {
    padding: 1em;
}

.sidebar > .dashboard {
    grid-row: 1;
}

.sidebar > .first {
    grid-row: 2;
}

.sidebar > .second {
    grid-row: 3;
}

.icon {
    width: 10%;
    height: 8%;
}

.first div .icon, .second div .icon {
    filter: invert(100%);
}



.first div, .second div, .dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8%;
}

.big-icon {
    width: 10%;
    height: 100%;
    filter: invert(100%);
}

.first div, .second div {
    margin-bottom: 4%;
}

.first div p, .second div p, .dashboard h1 {
    color: #f4f4f6;
}

.search-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.6em;
    flex: 0.7;
}



input {
    border-radius: 10px;
    background-color: #e2e8f0;
    width: 40%;
    border: none;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;            /* vertically centers them */
    padding: 0.5em 1em;
    width: 100%;
    grid-column: 1 / -1;
}


.lower {
    height: 100%;
    grid-row: 2;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.upper, .lower {
    
}

.top-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8em;
    justify-self: flex-end;
}

.top-right p {
    font-weight: bold;
    font-size: 1.3rem;
}

.search-bar .icon,
.notif {
  height: 24px;
  width: 24px;
}

.notif, .first div, .second div {
    transition: 0.3s ease all;
}

.first div:hover, .second div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.notif:hover {
    cursor: pointer;
    filter: invert(30%);
    transform: scale(1.5);
}

input {
    flex: 1;
    max-width: 100%;
    min-width: 200px;
    height: 32px;
    transition: all 0.3s ease;
}

input:hover, input:focus {
    transform: scale(1.01);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.profile-pic {
    border-radius: 50%;
}

.top-right .profile-pic {
    height: 2.2rem;
    width: 2.2rem;
}

.top-right .profile-pic:hover {
    cursor: pointer;
}

.welcome .profile-pic {
    height: 3rem;
}

.hello-text {
    display: flex;
    flex-direction: column;
}

.hello-text p {
    font-weight: 500;
}

.welcome {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 1.2em;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1.1em;
    margin-right: 4em;
}

.actions button {
    background: linear-gradient(135deg, #18191b, #2d2f33);
    border: none;
    border-radius: 20px;
    color: #f4f4f6;
    height: 50px;
    width: 100px;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.actions button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #3a3b3f, #5c5e64);
    box-shadow: 0 0 10px #5c5e64, 0 0 20px #5c5e64;
}